body {
  background-color: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}
.container02 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  max-width: 600px;
  margin: auto;
}